<a href="https://colab.research.google.com/github/brunacataldo/Bootcamp_Engenharia_de_Dados/blob/main/pyspark_compras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#INSTALAR O PYSPARK
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=89f66fd8faeccaeb970b59d3b75c0ce31f3d5a9617c1088f7e6140d8043cafb1
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [109]:
#IMPORTAR AS BIBLIOTECAS NECESSÁRIAS
import pandas as pd
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.functions import col
from pyspark.sql.types import NullType

In [3]:
#CONFIGURAR A SPARK SESSION
spark = (
   SparkSession.builder
               .master('local')
               .appName('data-frames')
               .config('spark.ui.port', '4050')
               .getOrCreate()
)

In [4]:
spark

In [5]:
#TRABALHAR COM OS DATAFRAMES
df = (
    spark.read
         .format('csv')
         .option('header', 'true')
         .option('inferschema', 'true')
         .option('delimiter', ';')
         .load('/content/compras.csv')
)

# Nova seção

In [6]:
df.printSchema()

root
 |-- Username: string (nullable = true)
 |-- Nome: string (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Data_Nascimento: string (nullable = true)
 |-- Ocupação: string (nullable = true)
 |-- Assinatura: string (nullable = true)
 |-- Total_Gasto : double (nullable = true)

In [7]:
df.show(truncate=False)

+-------------+-------------------------+---------+---------------+-----------------------------------+----------+------------+
|Username     |Nome                     |Sexo     |Data_Nascimento|Ocupação                           |Assinatura|Total_Gasto |
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+------------+
|Neaude1978   |  Mr \tbailey Glover     |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45     |
|Maress39     |Mrs  \t isabella   Fowler|feminino |04/08/1960     |Arquiteto de Dados                 |24/03/2020|771.99      |
|Kehonell     | Mrs Chloe \tKirby       |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77     |
|Thimpay      | Mrs louise \tClark      |feminino |07/01/1995     |Arquiteto de Dados                 |03/11/2020|234.76      |
|Giall1985    |Mr Harrison \t Bowen     |feminino |04/04/1987     |Engenheiro de Dados                |25/03/2020|628.07      |
|Neave1959    |Mrs anna \t     Sharp    |feminino |02/02/1970     |Engenheiro de Dados                |18/09/2020|140.04      |
|Nicterims1993|  Mrs \tDaisy Anderson   |masculino|05/07/1985     |Engenheiro de Dados                |29/01/2021|2417.81     |
|Fouldlairity |Ms zoe \tPeacock         |masculino|03/06/1964     |Analista Financeiro                |04/12/2020|51.95       |
|Ancomettiody | Mrs Libby \tWilliams    |feminino |04/09/1974     |Estatístico                        |21/11/2020|130.73      |
|Onswis       |Ms Katie \tMmtcalfe      |feminino |01/07/1983     |Engenheiro de Machine Learning     |27/02/2021|1778.72     |
|Majeappre    |Mr Luca \tVaughan        |feminino |03/01/1971     |Gerente de Tecnologia              |15/07/2022|1034.74     |
|Theired      |Mr Henry \tHaynes        |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04     |
|Botter       |Mr Noah \tWalton         |feminino |09/03/1991     |Web Designer                       |26/07/2022|3464.72     |
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+------------+

In [ ]:
#Mostrar apenas Username, Sexo, Ocupação e Total Gasto
#df.select(F.col('Username'), F.col('Sexo'), F.col('Ocupação'), F.col('Total_Gasto ')).show()
#df.select('Username', 'Sexo', 'Ocupação', 'Total_Gasto ').show()
#lista_colunas = ['Username', 'Sexo', 'Ocupação', 'Total_Gasto ']
#df.select(lista_colunas).show()

In [8]:
#Mostrar apenas Username, Sexo, Ocupação e Total Gasto apenas quando o Total for maior que 1000
df.select(F.col('Username'), F.col('Sexo'), F.col('Ocupação'), F.col('Total_Gasto ')).filter(F.col('Total_Gasto ') > 1000).show(truncate=False)

+-------------+---------+-----------------------------------+------------+
|Username     |Sexo     |Ocupação                           |Total_Gasto |
+-------------+---------+-----------------------------------+------------+
|Neaude1978   |masculino|Analista de Inteligência de Mercado|1257.45     |
|Kehonell     |feminino |Analista de RH                     |1021.77     |
|Nicterims1993|masculino|Engenheiro de Dados                |2417.81     |
|Onswis       |feminino |Engenheiro de Machine Learning     |1778.72     |
|Majeappre    |feminino |Gerente de Tecnologia              |1034.74     |
|Theired      |masculino|Analista de Inteligência de Mercado|1320.04     |
|Botter       |feminino |Web Designer                       |3464.72     |
+-------------+---------+-----------------------------------+------------+

In [11]:
#Mostrar apenas Username, Sexo, Ocupação e Total Gasto apenas quando o Total for maior que 1000 e menor que 2000
df2 = ( df.select(F.col('Username'), F.col('Sexo'), F.col('Ocupação'), F.col('Total_Gasto '))
          .filter(F.col('Total_Gasto ') > 1000)
          .filter(F.col('Total_Gasto ') < 2000)
).show(truncate=False)

+----------+---------+-----------------------------------+------------+
|Username  |Sexo     |Ocupação                           |Total_Gasto |
+----------+---------+-----------------------------------+------------+
|Neaude1978|masculino|Analista de Inteligência de Mercado|1257.45     |
|Kehonell  |feminino |Analista de RH                     |1021.77     |
|Onswis    |feminino |Engenheiro de Machine Learning     |1778.72     |
|Majeappre |feminino |Gerente de Tecnologia              |1034.74     |
|Theired   |masculino|Analista de Inteligência de Mercado|1320.04     |
+----------+---------+-----------------------------------+------------+

In [12]:
#Mostrar apenas Username, Sexo, Ocupação e Total Gasto apenas quando o Total for maior que 1000 e menor que 2000
df3 = ( df.select(F.col('Username'), F.col('Sexo'), F.col('Ocupação'), F.col('Total_Gasto '))
          .filter((F.col('Total_Gasto ') > 1000) & (F.col('Total_Gasto ') < 2000))
).show(truncate=False)

+----------+---------+-----------------------------------+------------+
|Username  |Sexo     |Ocupação                           |Total_Gasto |
+----------+---------+-----------------------------------+------------+
|Neaude1978|masculino|Analista de Inteligência de Mercado|1257.45     |
|Kehonell  |feminino |Analista de RH                     |1021.77     |
|Onswis    |feminino |Engenheiro de Machine Learning     |1778.72     |
|Majeappre |feminino |Gerente de Tecnologia              |1034.74     |
|Theired   |masculino|Analista de Inteligência de Mercado|1320.04     |
+----------+---------+-----------------------------------+------------+

In [13]:
#OUTRA FORMA DE SE APLICAR FILTROS
df.where(F.col('Total_Gasto ') > 1000).show(truncate=False)

+-------------+------------------------+---------+---------------+-----------------------------------+----------+------------+
|Username     |Nome                    |Sexo     |Data_Nascimento|Ocupação                           |Assinatura|Total_Gasto |
+-------------+------------------------+---------+---------------+-----------------------------------+----------+------------+
|Neaude1978   |  Mr \tbailey Glover    |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45     |
|Kehonell     | Mrs Chloe \tKirby      |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77     |
|Nicterims1993|  Mrs \tDaisy Anderson  |masculino|05/07/1985     |Engenheiro de Dados                |29/01/2021|2417.81     |
|Onswis       |Ms Katie \tMmtcalfe     |feminino |01/07/1983     |Engenheiro de Machine Learning     |27/02/2021|1778.72     |
|Majeappre    |Mr Luca \tVaughan       |feminino |03/01/1971     |Gerente de Tecnologia              |15/07/2022|1034.74     |
|Theired      |Mr Henry \tHaynes       |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04     |
|Botter       |Mr Noah \tWalton        |feminino |09/03/1991     |Web Designer                       |26/07/2022|3464.72     |
+-------------+------------------------+---------+---------------+-----------------------------------+----------+------------+

In [45]:
#Renomear uma coluna no Pyspark
df2 = (df.withColumnRenamed('Ocupação', 'ocupacao')
          .withColumnRenamed('Username', 'usuario')
          .withColumnRenamed('Total_Gasto ', 'total_gasto')
          .withColumnRenamed('Nome', 'nome')
          .withColumnRenamed('Sexo', 'sexo')
          .withColumnRenamed('Assinatura', 'assinatura')
          .withColumnRenamed('Data_Nascimento', 'data_nascimento')



)

In [46]:
df2.show(truncate=False)

+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+
|usuario      |nome                     |sexo     |data_nascimento|ocupacao                           |assinatura|total_gasto|
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+
|Neaude1978   |  Mr \tbailey Glover     |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45    |
|Maress39     |Mrs  \t isabella   Fowler|feminino |04/08/1960     |Arquiteto de Dados                 |24/03/2020|771.99     |
|Kehonell     | Mrs Chloe \tKirby       |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77    |
|Thimpay      | Mrs louise \tClark      |feminino |07/01/1995     |Arquiteto de Dados                 |03/11/2020|234.76     |
|Giall1985    |Mr Harrison \t Bowen     |feminino |04/04/1987     |Engenheiro de Dados                |25/03/2020|628.07     |
|Neave1959    |Mrs anna \t     Sharp    |feminino |02/02/1970     |Engenheiro de Dados                |18/09/2020|140.04     |
|Nicterims1993|  Mrs \tDaisy Anderson   |masculino|05/07/1985     |Engenheiro de Dados                |29/01/2021|2417.81    |
|Fouldlairity |Ms zoe \tPeacock         |masculino|03/06/1964     |Analista Financeiro                |04/12/2020|51.95      |
|Ancomettiody | Mrs Libby \tWilliams    |feminino |04/09/1974     |Estatístico                        |21/11/2020|130.73     |
|Onswis       |Ms Katie \tMmtcalfe      |feminino |01/07/1983     |Engenheiro de Machine Learning     |27/02/2021|1778.72    |
|Majeappre    |Mr Luca \tVaughan        |feminino |03/01/1971     |Gerente de Tecnologia              |15/07/2022|1034.74    |
|Theired      |Mr Henry \tHaynes        |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04    |
|Botter       |Mr Noah \tWalton         |feminino |09/03/1991     |Web Designer                       |26/07/2022|3464.72    |
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+

In [47]:
#FILTRAR POR OCUPAÇÃO QUE COMECE COM ANALISTA
df2.filter('ocupacao like "Analista%"').show(truncate=False)

+------------+----------------------+---------+---------------+-----------------------------------+----------+-----------+
|usuario     |nome                  |sexo     |data_nascimento|ocupacao                           |assinatura|total_gasto|
+------------+----------------------+---------+---------------+-----------------------------------+----------+-----------+
|Neaude1978  |  Mr \tbailey Glover  |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45    |
|Kehonell    | Mrs Chloe \tKirby    |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77    |
|Fouldlairity|Ms zoe \tPeacock      |masculino|03/06/1964     |Analista Financeiro                |04/12/2020|51.95      |
|Theired     |Mr Henry \tHaynes     |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04    |
+------------+----------------------+---------+---------------+-----------------------------------+----------+-----------+

In [48]:
#BUSCA POR OCUPAÇÃO QUE COMECE COM A PALAVRA Analista
df2.filter(F.col('ocupacao').startswith('Analista')).show(truncate=False)

+------------+----------------------+---------+---------------+-----------------------------------+----------+-----------+
|usuario     |nome                  |sexo     |data_nascimento|ocupacao                           |assinatura|total_gasto|
+------------+----------------------+---------+---------------+-----------------------------------+----------+-----------+
|Neaude1978  |  Mr \tbailey Glover  |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45    |
|Kehonell    | Mrs Chloe \tKirby    |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77    |
|Fouldlairity|Ms zoe \tPeacock      |masculino|03/06/1964     |Analista Financeiro                |04/12/2020|51.95      |
|Theired     |Mr Henry \tHaynes     |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04    |
+------------+----------------------+---------+---------------+-----------------------------------+----------+-----------+

In [49]:
#BUSCA POR OCUPAÇÃO QUE TERMINE COM A PALAVRA Mercado
df2.filter(F.col('ocupacao').endswith('Mercado')).show(truncate=False)

+----------+----------------------+---------+---------------+-----------------------------------+----------+-----------+
|usuario   |nome                  |sexo     |data_nascimento|ocupacao                           |assinatura|total_gasto|
+----------+----------------------+---------+---------------+-----------------------------------+----------+-----------+
|Neaude1978|  Mr \tbailey Glover  |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45    |
|Theired   |Mr Henry \tHaynes     |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04    |
+----------+----------------------+---------+---------------+-----------------------------------+----------+-----------+

In [50]:
#BUSCA POR OCUPAÇÃO QUE TENHA A PALAVRA Inteligência
df2.filter(F.col('ocupacao').contains('Inteligência')).show(truncate=False)

+----------+----------------------+---------+---------------+-----------------------------------+----------+-----------+
|usuario   |nome                  |sexo     |data_nascimento|ocupacao                           |assinatura|total_gasto|
+----------+----------------------+---------+---------------+-----------------------------------+----------+-----------+
|Neaude1978|  Mr \tbailey Glover  |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45    |
|Theired   |Mr Henry \tHaynes     |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04    |
+----------+----------------------+---------+---------------+-----------------------------------+----------+-----------+

In [51]:
#BUSCA POR OCUPAÇÃO UTILIZANDO O LIKE
df2.filter(F.col('ocupacao').like('Analista%')).show(truncate=False)

+------------+----------------------+---------+---------------+-----------------------------------+----------+-----------+
|usuario     |nome                  |sexo     |data_nascimento|ocupacao                           |assinatura|total_gasto|
+------------+----------------------+---------+---------------+-----------------------------------+----------+-----------+
|Neaude1978  |  Mr \tbailey Glover  |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45    |
|Kehonell    | Mrs Chloe \tKirby    |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77    |
|Fouldlairity|Ms zoe \tPeacock      |masculino|03/06/1964     |Analista Financeiro                |04/12/2020|51.95      |
|Theired     |Mr Henry \tHaynes     |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04    |
+------------+----------------------+---------+---------------+-----------------------------------+----------+-----------+

In [52]:
#VERIFICAR QUANTIDADE DE LINHAS DO DATAFRAME
df2.count()

13

In [56]:
#RETORNAR TODAS AS OCUPAÇÕES EXISTENTES, CADA UMA APARACENDO UMA ÚNICA VEZ
df2.select('ocupacao').distinct().show(truncate=False)

+-----------------------------------+
|ocupacao                           |
+-----------------------------------+
|Engenheiro de Machine Learning     |
|Arquiteto de Dados                 |
|Estatístico                        |
|Analista de RH                     |
|Engenheiro de Dados                |
|Analista Financeiro                |
|Gerente de Tecnologia              |
|Web Designer                       |
|Analista de Inteligência de Mercado|
+-----------------------------------+

In [53]:
#Criar uma nova coluna contendo 10% sobre o valor total gasto
df3 = df2.withColumn('total_de_desconto', F.round(F.col('total_gasto') * 0.1, 2))

In [ ]:
#Criar uma nova coluna contendo o valor total gasto - o desconto
df3.withColumn('total_com_desconto', F.round(F.col('total_gasto') - F.col('total_de_desconto'), 2)).show()

+-------------+--------------------+---------+---------------+--------------------+----------+-----------+-----------------+------------------+
|      usuario|                Nome|     Sexo|Data_Nascimento|            ocupacao|Assinatura|total_gasto|total_de_desconto|total_com_desconto|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+-----------------+------------------+
|   Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|01/10/2021|    1257.45|           125.75|            1131.7|
|     Maress39|Mrs  \t isabella ...| feminino|     04/08/1960|  Arquiteto de Dados|24/03/2020|     771.99|             77.2|            694.79|
|     Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|07/06/2020|    1021.77|           102.18|            919.59|
|      Thimpay| Mrs louise \tCla...| feminino|     07/01/1995|  Arquiteto de Dados|03/11/2020|     234.76|            23.48|            211.28|
|    Giall1985|Mr Harrison \t Bowen| feminino|     04/04/1987| Engenheiro de Dados|25/03/2020|     628.07|            62.81|            565.26|
|    Neave1959|Mrs anna \t     S...| feminino|     02/02/1970| Engenheiro de Dados|18/09/2020|     140.04|             14.0|            126.04|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985| Engenheiro de Dados|29/01/2021|    2417.81|           241.78|           2176.03|
| Fouldlairity|    Ms zoe \tPeacock|masculino|     03/06/1964| Analista Financeiro|04/12/2020|      51.95|              5.2|             46.75|
| Ancomettiody| Mrs Libby \tWill...| feminino|     04/09/1974|         Estatístico|21/11/2020|     130.73|            13.07|            117.66|
|       Onswis| Ms Katie \tMmtcalfe| feminino|     01/07/1983|Engenheiro de Mac...|27/02/2021|    1778.72|           177.87|           1600.85|
|    Majeappre|   Mr Luca \tVaughan| feminino|     03/01/1971|Gerente de Tecnol...|15/07/2022|    1034.74|           103.47|            931.27|
|      Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|23/12/2022|    1320.04|            132.0|           1188.04|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|        Web Designer|26/07/2022|    3464.72|           346.47|           3118.25|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+-----------------+------------------+

In [54]:
#Criar uma nova coluna contendo o valor total - 10% de desconto sobre o valor total gasto
df4 = df2.withColumn('total_com_desconto', F.round(F.col('total_gasto') - F.col('total_gasto') * 0.1, 2))

In [55]:
df4.show(truncate=False)

+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+------------------+
|usuario      |nome                     |sexo     |data_nascimento|ocupacao                           |assinatura|total_gasto|total_com_desconto|
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+------------------+
|Neaude1978   |  Mr \tbailey Glover     |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45    |1131.71           |
|Maress39     |Mrs  \t isabella   Fowler|feminino |04/08/1960     |Arquiteto de Dados                 |24/03/2020|771.99     |694.79            |
|Kehonell     | Mrs Chloe \tKirby       |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77    |919.59            |
|Thimpay      | Mrs louise \tClark      |feminino |07/01/1995     |Arquiteto de Dados                 |03/11/2020|234.76     |211.28            |
|Giall1985    |Mr Harrison \t Bowen     |feminino |04/04/1987     |Engenheiro de Dados                |25/03/2020|628.07     |565.26            |
|Neave1959    |Mrs anna \t     Sharp    |feminino |02/02/1970     |Engenheiro de Dados                |18/09/2020|140.04     |126.04            |
|Nicterims1993|  Mrs \tDaisy Anderson   |masculino|05/07/1985     |Engenheiro de Dados                |29/01/2021|2417.81    |2176.03           |
|Fouldlairity |Ms zoe \tPeacock         |masculino|03/06/1964     |Analista Financeiro                |04/12/2020|51.95      |46.76             |
|Ancomettiody | Mrs Libby \tWilliams    |feminino |04/09/1974     |Estatístico                        |21/11/2020|130.73     |117.66            |
|Onswis       |Ms Katie \tMmtcalfe      |feminino |01/07/1983     |Engenheiro de Machine Learning     |27/02/2021|1778.72    |1600.85           |
|Majeappre    |Mr Luca \tVaughan        |feminino |03/01/1971     |Gerente de Tecnologia              |15/07/2022|1034.74    |931.27            |
|Theired      |Mr Henry \tHaynes        |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04    |1188.04           |
|Botter       |Mr Noah \tWalton         |feminino |09/03/1991     |Web Designer                       |26/07/2022|3464.72    |3118.25           |
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+------------------+

In [58]:
#RETORNAR usuário, data de nascimento e ocupação ordenado pelo usuário em ordem crescente (A-Z)
df4.orderBy(F.col('usuario').asc()).show()
df4.orderBy(F.col('nome').asc(), F.col('data_nascimento').asc(), F.col('total_gasto').desc())

+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+
|      usuario|                nome|     sexo|data_nascimento|            ocupacao|assinatura|total_gasto|total_com_desconto|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+
| Ancomettiody| Mrs Libby \tWill...| feminino|     04/09/1974|         Estatístico|21/11/2020|     130.73|            117.66|
|       Botter|    Mr Noah \tWalton| feminino|     09/03/1991|        Web Designer|26/07/2022|    3464.72|           3118.25|
| Fouldlairity|    Ms zoe \tPeacock|masculino|     03/06/1964| Analista Financeiro|04/12/2020|      51.95|             46.76|
|    Giall1985|Mr Harrison \t Bowen| feminino|     04/04/1987| Engenheiro de Dados|25/03/2020|     628.07|            565.26|
|     Kehonell| Mrs Chloe \tKirby  | feminino|     28/06/1949|      Analista de RH|07/06/2020|    1021.77|            919.59|
|    Majeappre|   Mr Luca \tVaughan| feminino|     03/01/1971|Gerente de Tecnol...|15/07/2022|    1034.74|            931.27|
|     Maress39|Mrs  \t isabella ...| feminino|     04/08/1960|  Arquiteto de Dados|24/03/2020|     771.99|            694.79|
|   Neaude1978|  Mr \tbailey Glo...|masculino|     01/12/1979|Analista de Intel...|01/10/2021|    1257.45|           1131.71|
|    Neave1959|Mrs anna \t     S...| feminino|     02/02/1970| Engenheiro de Dados|18/09/2020|     140.04|            126.04|
|Nicterims1993|  Mrs \tDaisy And...|masculino|     05/07/1985| Engenheiro de Dados|29/01/2021|    2417.81|           2176.03|
|       Onswis| Ms Katie \tMmtcalfe| feminino|     01/07/1983|Engenheiro de Mac...|27/02/2021|    1778.72|           1600.85|
|      Theired|   Mr Henry \tHaynes|masculino|     06/09/1951|Analista de Intel...|23/12/2022|    1320.04|           1188.04|
|      Thimpay| Mrs louise \tCla...| feminino|     07/01/1995|  Arquiteto de Dados|03/11/2020|     234.76|            211.28|
+-------------+--------------------+---------+---------------+--------------------+----------+-----------+------------------+

DataFrame[usuario: string, nome: string, sexo: string, data_nascimento: string, ocupacao: string, assinatura: string, total_gasto: double, total_com_desconto: double]

In [60]:
#RETORNAR usuário, data de nascimento e ocupação ordenado pelo usuário em ordem crescente (A-Z)
df4.select(F.col('usuario'), F.col('data_nascimento'), F.col('ocupacao')).orderBy(F.col('usuario').asc()).show(truncate=False)

+-------------+---------------+-----------------------------------+
|usuario      |data_nascimento|ocupacao                           |
+-------------+---------------+-----------------------------------+
|Ancomettiody |04/09/1974     |Estatístico                        |
|Botter       |09/03/1991     |Web Designer                       |
|Fouldlairity |03/06/1964     |Analista Financeiro                |
|Giall1985    |04/04/1987     |Engenheiro de Dados                |
|Kehonell     |28/06/1949     |Analista de RH                     |
|Majeappre    |03/01/1971     |Gerente de Tecnologia              |
|Maress39     |04/08/1960     |Arquiteto de Dados                 |
|Neaude1978   |01/12/1979     |Analista de Inteligência de Mercado|
|Neave1959    |02/02/1970     |Engenheiro de Dados                |
|Nicterims1993|05/07/1985     |Engenheiro de Dados                |
|Onswis       |01/07/1983     |Engenheiro de Machine Learning     |
|Theired      |06/09/1951     |Analista de Inteligência de Mercado|
|Thimpay      |07/01/1995     |Arquiteto de Dados                 |
+-------------+---------------+-----------------------------------+

In [62]:
#Retornar nome, ocupação e total gasto ordenado pelo total gasto do menor para o maior
df4.select(F.col('nome'), F.col('ocupacao'), F.col('total_gasto')).orderBy(F.col('total_gasto')).show(truncate=False)

+-------------------------+-----------------------------------+-----------+
|nome                     |ocupacao                           |total_gasto|
+-------------------------+-----------------------------------+-----------+
|Ms zoe \tPeacock         |Analista Financeiro                |51.95      |
| Mrs Libby \tWilliams    |Estatístico                        |130.73     |
|Mrs anna \t     Sharp    |Engenheiro de Dados                |140.04     |
| Mrs louise \tClark      |Arquiteto de Dados                 |234.76     |
|Mr Harrison \t Bowen     |Engenheiro de Dados                |628.07     |
|Mrs  \t isabella   Fowler|Arquiteto de Dados                 |771.99     |
| Mrs Chloe \tKirby       |Analista de RH                     |1021.77    |
|Mr Luca \tVaughan        |Gerente de Tecnologia              |1034.74    |
|  Mr \tbailey Glover     |Analista de Inteligência de Mercado|1257.45    |
|Mr Henry \tHaynes        |Analista de Inteligência de Mercado|1320.04    |
|Ms Katie \tMmtcalfe      |Engenheiro de Machine Learning     |1778.72    |
|  Mrs \tDaisy Anderson   |Engenheiro de Dados                |2417.81    |
|Mr Noah \tWalton         |Web Designer                       |3464.72    |
+-------------------------+-----------------------------------+-----------+

In [64]:
#Retornar nome, ocupação e total gasto ordenado pelo total gasto do maior para o menor
df4.orderBy(F.col('usuario').desc()).show(truncate=False)

#PODEMOS UTILIZAR PARA A ORDENAÇÃO O COMANDO SORT, QUE TERÁ O MESMO RESULTADO
df4.sort(F.col('usuario').desc()).show(truncate=False)

+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+------------------+
|usuario      |nome                     |sexo     |data_nascimento|ocupacao                           |assinatura|total_gasto|total_com_desconto|
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+------------------+
|Thimpay      | Mrs louise \tClark      |feminino |07/01/1995     |Arquiteto de Dados                 |03/11/2020|234.76     |211.28            |
|Theired      |Mr Henry \tHaynes        |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04    |1188.04           |
|Onswis       |Ms Katie \tMmtcalfe      |feminino |01/07/1983     |Engenheiro de Machine Learning     |27/02/2021|1778.72    |1600.85           |
|Nicterims1993|  Mrs \tDaisy Anderson   |masculino|05/07/1985     |Engenheiro de Dados                |29/01/2021|2417.81    |2176.03           |
|Neave1959    |Mrs anna \t     Sharp    |feminino |02/02/1970     |Engenheiro de Dados                |18/09/2020|140.04     |126.04            |
|Neaude1978   |  Mr \tbailey Glover     |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45    |1131.71           |
|Maress39     |Mrs  \t isabella   Fowler|feminino |04/08/1960     |Arquiteto de Dados                 |24/03/2020|771.99     |694.79            |
|Majeappre    |Mr Luca \tVaughan        |feminino |03/01/1971     |Gerente de Tecnologia              |15/07/2022|1034.74    |931.27            |
|Kehonell     | Mrs Chloe \tKirby       |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77    |919.59            |
|Giall1985    |Mr Harrison \t Bowen     |feminino |04/04/1987     |Engenheiro de Dados                |25/03/2020|628.07     |565.26            |
|Fouldlairity |Ms zoe \tPeacock         |masculino|03/06/1964     |Analista Financeiro                |04/12/2020|51.95      |46.76             |
|Botter       |Mr Noah \tWalton         |feminino |09/03/1991     |Web Designer                       |26/07/2022|3464.72    |3118.25           |
|Ancomettiody | Mrs Libby \tWilliams    |feminino |04/09/1974     |Estatístico                        |21/11/2020|130.73     |117.66            |
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+------------------+

+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+------------------+
|usuario      |nome                     |sexo     |data_nascimento|ocupacao                           |assinatura|total_gasto|total_com_desconto|
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+------------------+
|Thimpay      | Mrs louise \tClark      |feminino |07/01/1995     |Arquiteto de Dados                 |03/11/2020|234.76     |211.28            |
|Theired      |Mr Henry \tHaynes        |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04    |1188.04           |
|Onswis       |Ms Katie \tMmtcalfe      |feminino |01/07/1983     |Engenheiro de Machine Learning     |27/02/2021|1778.72    |1600.85           |
|Nicterims1993|  Mrs \tDaisy Anderson   |masculino|05/07/1985     |Engenheiro de Dados                |29/01/2021|2417.81    |2176.03           |
|Neave1959    |Mrs anna \t     Sharp    |feminino |02/02/1970     |Engenheiro de Dados                |18/09/2020|140.04     |126.04            |
|Neaude1978   |  Mr \tbailey Glover     |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45    |1131.71           |
|Maress39     |Mrs  \t isabella   Fowler|feminino |04/08/1960     |Arquiteto de Dados                 |24/03/2020|771.99     |694.79            |
|Majeappre    |Mr Luca \tVaughan        |feminino |03/01/1971     |Gerente de Tecnologia              |15/07/2022|1034.74    |931.27            |
|Kehonell     | Mrs Chloe \tKirby       |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77    |919.59            |
|Giall1985    |Mr Harrison \t Bowen     |feminino |04/04/1987     |Engenheiro de Dados                |25/03/2020|628.07     |565.26            |
|Fouldlairity |Ms zoe \tPeacock         |masculino|03/06/1964     |Analista Financeiro                |04/12/2020|51.95      |46.76             |
|Botter       |Mr Noah \tWalton         |feminino |09/03/1991     |Web Designer                       |26/07/2022|3464.72    |3118.25           |
|Ancomettiody | Mrs Libby \tWilliams    |feminino |04/09/1974     |Estatístico                        |21/11/2020|130.73     |117.66            |
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+------------------+

In [66]:
df4.show(truncate=False)

+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+------------------+
|usuario      |nome                     |sexo     |data_nascimento|ocupacao                           |assinatura|total_gasto|total_com_desconto|
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+------------------+
|Neaude1978   |  Mr \tbailey Glover     |masculino|01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45    |1131.71           |
|Maress39     |Mrs  \t isabella   Fowler|feminino |04/08/1960     |Arquiteto de Dados                 |24/03/2020|771.99     |694.79            |
|Kehonell     | Mrs Chloe \tKirby       |feminino |28/06/1949     |Analista de RH                     |07/06/2020|1021.77    |919.59            |
|Thimpay      | Mrs louise \tClark      |feminino |07/01/1995     |Arquiteto de Dados                 |03/11/2020|234.76     |211.28            |
|Giall1985    |Mr Harrison \t Bowen     |feminino |04/04/1987     |Engenheiro de Dados                |25/03/2020|628.07     |565.26            |
|Neave1959    |Mrs anna \t     Sharp    |feminino |02/02/1970     |Engenheiro de Dados                |18/09/2020|140.04     |126.04            |
|Nicterims1993|  Mrs \tDaisy Anderson   |masculino|05/07/1985     |Engenheiro de Dados                |29/01/2021|2417.81    |2176.03           |
|Fouldlairity |Ms zoe \tPeacock         |masculino|03/06/1964     |Analista Financeiro                |04/12/2020|51.95      |46.76             |
|Ancomettiody | Mrs Libby \tWilliams    |feminino |04/09/1974     |Estatístico                        |21/11/2020|130.73     |117.66            |
|Onswis       |Ms Katie \tMmtcalfe      |feminino |01/07/1983     |Engenheiro de Machine Learning     |27/02/2021|1778.72    |1600.85           |
|Majeappre    |Mr Luca \tVaughan        |feminino |03/01/1971     |Gerente de Tecnologia              |15/07/2022|1034.74    |931.27            |
|Theired      |Mr Henry \tHaynes        |masculino|06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04    |1188.04           |
|Botter       |Mr Noah \tWalton         |feminino |09/03/1991     |Web Designer                       |26/07/2022|3464.72    |3118.25           |
+-------------+-------------------------+---------+---------------+-----------------------------------+----------+-----------+------------------+

In [71]:
#RETORNAR A QUANTIDADE DE PESSOAS POR SEXO
df4.filter(F.col('sexo').contains('feminino')).count()

9

In [69]:
#RETORNAR A QUANTIDADE DE PESSOAS POR SEXO
df4.filter(F.col('sexo').contains('masculino')).count()

4

In [72]:
#RETORNAR A QUANTIDADE DE PESSOAS POR SEXO
df4.groupBy('sexo').count().show()

+---------+-----+
|     sexo|count|
+---------+-----+
|masculino|    4|
| feminino|    9|
+---------+-----+

In [76]:
#RETORNAR A QUANTIDADE DE PESSOAS POR OCUPAÇÃO
df4.groupBy('ocupacao').count().select('ocupacao', F.col('count').alias('quantidade')).show(truncate=False)

+-----------------------------------+----------+
|ocupacao                           |quantidade|
+-----------------------------------+----------+
|Engenheiro de Machine Learning     |1         |
|Arquiteto de Dados                 |2         |
|Estatístico                        |1         |
|Analista de RH                     |1         |
|Engenheiro de Dados                |3         |
|Analista Financeiro                |1         |
|Gerente de Tecnologia              |1         |
|Web Designer                       |1         |
|Analista de Inteligência de Mercado|2         |
+-----------------------------------+----------+

In [83]:
#RETORNAR O VALOR TOTAL GASTO POR SEXO
df4.groupBy('sexo').sum('total_gasto').select('sexo', F.round('sum(total_gasto)', 2).alias('total_gasto')).show(truncate=False)

+---------+-----------+
|sexo     |total_gasto|
+---------+-----------+
|masculino|5047.25    |
|feminino |9205.54    |
+---------+-----------+

In [84]:
df4.schema

StructType([StructField('usuario', StringType(), True), StructField('nome', StringType(), True), StructField('sexo', StringType(), True), StructField('data_nascimento', StringType(), True), StructField('ocupacao', StringType(), True), StructField('assinatura', StringType(), True), StructField('total_gasto', DoubleType(), True), StructField('total_com_desconto', DoubleType(), True)])

In [88]:
#RETORNAR O VALOR TOTAL GASTO POR SEXO E O VALOR MÍNIMO E MÁXIMO GASTOS POR CADA SEXO
df5 = (df4.select(F.col('sexo'), F.col('total_gasto')).groupBy('sexo').agg(F.round(F.sum('total_gasto')).alias('total_por_sexo'),
                                                    F.min('total_gasto').alias('valor_minimo'),
                                                    F.max('total_gasto').alias('valor_maximo'))
)

In [89]:
df5.show()

+---------+--------------+------------+------------+
|     sexo|total_por_sexo|valor_minimo|valor_maximo|
+---------+--------------+------------+------------+
|masculino|        5047.0|       51.95|     2417.81|
| feminino|        9206.0|      130.73|     3464.72|
+---------+--------------+------------+------------+

In [90]:
#RETORNAR O VALOR TOTAL GASTO POR OCUPAÇÃO
df4.groupBy('ocupacao').sum('total_gasto').show(truncate=False)

+-----------------------------------+----------------+
|ocupacao                           |sum(total_gasto)|
+-----------------------------------+----------------+
|Engenheiro de Machine Learning     |1778.72         |
|Arquiteto de Dados                 |1006.75         |
|Estatístico                        |130.73          |
|Analista de RH                     |1021.77         |
|Engenheiro de Dados                |3185.92         |
|Analista Financeiro                |51.95           |
|Gerente de Tecnologia              |1034.74         |
|Web Designer                       |3464.72         |
|Analista de Inteligência de Mercado|2577.49         |
+-----------------------------------+----------------+

In [91]:
#CRIAR UMA NOVA COLUNA CONTENDO O NÚMERO 1 PARA O SEXO MASCULINO E 2 PARA O SEXO FEMININO
#AGORA EU TENHO UMA CONDIÇÃO - WHEN - OTHERWISE
( df4.select('sexo').withColumn('id_sexo',
                                F.when(F.col('sexo') == 'masculino',F.lit(1))
                                .otherwise(F.lit(2)))
                                .show()
)

+---------+-------+
|     sexo|id_sexo|
+---------+-------+
|masculino|      1|
| feminino|      2|
| feminino|      2|
| feminino|      2|
| feminino|      2|
| feminino|      2|
|masculino|      1|
|masculino|      1|
| feminino|      2|
| feminino|      2|
| feminino|      2|
|masculino|      1|
| feminino|      2|
+---------+-------+

In [92]:
df4.select('data_nascimento').show()

+---------------+
|data_nascimento|
+---------------+
|     01/12/1979|
|     04/08/1960|
|     28/06/1949|
|     07/01/1995|
|     04/04/1987|
|     02/02/1970|
|     05/07/1985|
|     03/06/1964|
|     04/09/1974|
|     01/07/1983|
|     03/01/1971|
|     06/09/1951|
|     09/03/1991|
+---------------+

In [95]:
#SEPARAR O DIA, MÊS E ANO EM 3 COLUNAS DIFERENTES
df_data_separada = ( df4.select('data_nascimento')
     .withColumn('dia', F.substring(F.col('data_nascimento'), 1, 2))
     .withColumn('mes', F.substring(F.col('data_nascimento'), 4, 2))
     .withColumn('ano', F.substring(F.col('data_nascimento'), 7, 4))
)

In [96]:
df_data_separada.show(2)

+---------------+---+---+----+
|data_nascimento|dia|mes| ano|
+---------------+---+---+----+
|     01/12/1979| 01| 12|1979|
|     04/08/1960| 04| 08|1960|
+---------------+---+---+----+
only showing top 2 rows

In [97]:
df_data_separada.printSchema()

root
 |-- data_nascimento: string (nullable = true)
 |-- dia: string (nullable = true)
 |-- mes: string (nullable = true)
 |-- ano: string (nullable = true)

In [102]:
#FUNÇÃO PARA ALTERAR VALORES DENTRO DE UMA COLUNA
df6 = ( df4.withColumn('sexo', F.when(F.col('sexo') == 'masculino', F.regexp_replace(F.col('sexo'), 'masculino', 'm'))
                                .when(F.col('sexo') == 'feminino', F.regexp_replace(F.col('sexo'), 'feminino', 'f'))
                                .otherwise('Nao informado')
                       )
)

In [104]:
df6.show(truncate=False)

+-------------+-------------------------+----+---------------+-----------------------------------+----------+-----------+------------------+
|usuario      |nome                     |sexo|data_nascimento|ocupacao                           |assinatura|total_gasto|total_com_desconto|
+-------------+-------------------------+----+---------------+-----------------------------------+----------+-----------+------------------+
|Neaude1978   |  Mr \tbailey Glover     |m   |01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45    |1131.71           |
|Maress39     |Mrs  \t isabella   Fowler|f   |04/08/1960     |Arquiteto de Dados                 |24/03/2020|771.99     |694.79            |
|Kehonell     | Mrs Chloe \tKirby       |f   |28/06/1949     |Analista de RH                     |07/06/2020|1021.77    |919.59            |
|Thimpay      | Mrs louise \tClark      |f   |07/01/1995     |Arquiteto de Dados                 |03/11/2020|234.76     |211.28            |
|Giall1985    |Mr Harrison \t Bowen     |f   |04/04/1987     |Engenheiro de Dados                |25/03/2020|628.07     |565.26            |
|Neave1959    |Mrs anna \t     Sharp    |f   |02/02/1970     |Engenheiro de Dados                |18/09/2020|140.04     |126.04            |
|Nicterims1993|  Mrs \tDaisy Anderson   |m   |05/07/1985     |Engenheiro de Dados                |29/01/2021|2417.81    |2176.03           |
|Fouldlairity |Ms zoe \tPeacock         |m   |03/06/1964     |Analista Financeiro                |04/12/2020|51.95      |46.76             |
|Ancomettiody | Mrs Libby \tWilliams    |f   |04/09/1974     |Estatístico                        |21/11/2020|130.73     |117.66            |
|Onswis       |Ms Katie \tMmtcalfe      |f   |01/07/1983     |Engenheiro de Machine Learning     |27/02/2021|1778.72    |1600.85           |
|Majeappre    |Mr Luca \tVaughan        |f   |03/01/1971     |Gerente de Tecnologia              |15/07/2022|1034.74    |931.27            |
|Theired      |Mr Henry \tHaynes        |m   |06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04    |1188.04           |
|Botter       |Mr Noah \tWalton         |f   |09/03/1991     |Web Designer                       |26/07/2022|3464.72    |3118.25           |
+-------------+-------------------------+----+---------------+-----------------------------------+----------+-----------+------------------+

In [106]:
#REMOVER LINHAS DUPLICADAS NO DATAFRAME
df6.dropDuplicates()
total_linhas = df6.count()
total_linhas_distintas = df6.distinct().count()

print(total_linhas - total_linhas_distintas)

0

In [114]:
#SUBSTITUIÇÃO DE VALORES NULOS
df6.fillna('NA', subset=['Nome', 'sexo', 'data_nascimento'])

DataFrame[usuario: string, nome: string, sexo: string, data_nascimento: string, ocupacao: string, assinatura: string, total_gasto: double, total_com_desconto: double]

In [115]:
df6.summary().show()

+-------+------------+--------------------+----+---------------+-------------------+----------+------------------+------------------+
|summary|     usuario|                nome|sexo|data_nascimento|           ocupacao|assinatura|       total_gasto|total_com_desconto|
+-------+------------+--------------------+----+---------------+-------------------+----------+------------------+------------------+
|  count|          13|                  13|  13|             13|                 13|        13|                13|                13|
|   mean|        NULL|                NULL|NULL|           NULL|               NULL|      NULL|1096.3684615384614| 986.7330769230771|
| stddev|        NULL|                NULL|NULL|           NULL|               NULL|      NULL| 996.2833119553741| 896.6551757911606|
|    min|Ancomettiody|  Mr \tbailey Glo...|   f|     01/07/1983|Analista Financeiro|01/10/2021|             51.95|             46.76|
|    25%|        NULL|                NULL|NULL|           NULL|               NULL|      NULL|            234.76|            211.28|
|    50%|        NULL|                NULL|NULL|           NULL|               NULL|      NULL|           1021.77|            919.59|
|    75%|        NULL|                NULL|NULL|           NULL|               NULL|      NULL|           1320.04|           1188.04|
|    max|     Thimpay|    Ms zoe \tPeacock|   m|     28/06/1949|       Web Designer|29/01/2021|           3464.72|           3118.25|
+-------+------------+--------------------+----+---------------+-------------------+----------+------------------+------------------+

In [111]:
#REMOVER UMA COLUNA NO DATAFRAME
df6.drop(F.col('usuario')).show(truncate=False)

+-------------------------+----+---------------+-----------------------------------+----------+-----------+------------------+
|nome                     |sexo|data_nascimento|ocupacao                           |assinatura|total_gasto|total_com_desconto|
+-------------------------+----+---------------+-----------------------------------+----------+-----------+------------------+
|  Mr \tbailey Glover     |m   |01/12/1979     |Analista de Inteligência de Mercado|01/10/2021|1257.45    |1131.71           |
|Mrs  \t isabella   Fowler|f   |04/08/1960     |Arquiteto de Dados                 |24/03/2020|771.99     |694.79            |
| Mrs Chloe \tKirby       |f   |28/06/1949     |Analista de RH                     |07/06/2020|1021.77    |919.59            |
| Mrs louise \tClark      |f   |07/01/1995     |Arquiteto de Dados                 |03/11/2020|234.76     |211.28            |
|Mr Harrison \t Bowen     |f   |04/04/1987     |Engenheiro de Dados                |25/03/2020|628.07     |565.26            |
|Mrs anna \t     Sharp    |f   |02/02/1970     |Engenheiro de Dados                |18/09/2020|140.04     |126.04            |
|  Mrs \tDaisy Anderson   |m   |05/07/1985     |Engenheiro de Dados                |29/01/2021|2417.81    |2176.03           |
|Ms zoe \tPeacock         |m   |03/06/1964     |Analista Financeiro                |04/12/2020|51.95      |46.76             |
| Mrs Libby \tWilliams    |f   |04/09/1974     |Estatístico                        |21/11/2020|130.73     |117.66            |
|Ms Katie \tMmtcalfe      |f   |01/07/1983     |Engenheiro de Machine Learning     |27/02/2021|1778.72    |1600.85           |
|Mr Luca \tVaughan        |f   |03/01/1971     |Gerente de Tecnologia              |15/07/2022|1034.74    |931.27            |
|Mr Henry \tHaynes        |m   |06/09/1951     |Analista de Inteligência de Mercado|23/12/2022|1320.04    |1188.04           |
|Mr Noah \tWalton         |f   |09/03/1991     |Web Designer                       |26/07/2022|3464.72    |3118.25           |
+-------------------------+----+---------------+-----------------------------------+----------+-----------+------------------+

In [116]:
df.select('data_nascimento').show()

+---------------+
|data_nascimento|
+---------------+
|     01/12/1979|
|     04/08/1960|
|     28/06/1949|
|     07/01/1995|
|     04/04/1987|
|     02/02/1970|
|     05/07/1985|
|     03/06/1964|
|     04/09/1974|
|     01/07/1983|
|     03/01/1971|
|     06/09/1951|
|     09/03/1991|
+---------------+

In [ ]:
#1) datediff - retorna a diferença em dias entre duas colunas
#2) monthsBetween - retorna a diferença em meses entre duas datas

In [130]:
#Converter data_nascimento e assinatura para date e aplicar as duas funções acima
df7 = ( df6.select('data_nascimento','assinatura')
      .withColumn('nasc_date', F.to_date(F.col('data_nascimento'), 'dd/MM/yyyy'))
      .withColumn('assinatura_date', F.to_date(F.col('assinatura'), 'dd/MM/yyyy'))

)

In [131]:
df7.show(truncate=False)

+---------------+----------+----------+---------------+
|data_nascimento|assinatura|nasc_date |assinatura_date|
+---------------+----------+----------+---------------+
|01/12/1979     |01/10/2021|1979-12-01|2021-10-01     |
|04/08/1960     |24/03/2020|1960-08-04|2020-03-24     |
|28/06/1949     |07/06/2020|1949-06-28|2020-06-07     |
|07/01/1995     |03/11/2020|1995-01-07|2020-11-03     |
|04/04/1987     |25/03/2020|1987-04-04|2020-03-25     |
|02/02/1970     |18/09/2020|1970-02-02|2020-09-18     |
|05/07/1985     |29/01/2021|1985-07-05|2021-01-29     |
|03/06/1964     |04/12/2020|1964-06-03|2020-12-04     |
|04/09/1974     |21/11/2020|1974-09-04|2020-11-21     |
|01/07/1983     |27/02/2021|1983-07-01|2021-02-27     |
|03/01/1971     |15/07/2022|1971-01-03|2022-07-15     |
|06/09/1951     |23/12/2022|1951-09-06|2022-12-23     |
|09/03/1991     |26/07/2022|1991-03-09|2022-07-26     |
+---------------+----------+----------+---------------+

In [132]:
df7.dtypes

[('data_nascimento', 'string'),
 ('assinatura', 'string'),
 ('nasc_date', 'date'),
 ('assinatura_date', 'date')]

In [133]:
# Passando dataframe pyspark para dataframe pandas
df_pandas = df6.toPandas()

df_pandas.head(10)

,usuario,nome,sexo,data_nascimento,ocupacao,assinatura,total_gasto,total_com_desconto
0,Neaude1978,Mr \tbailey Glover,m,01/12/1979,Analista de Inteligência de Mercado,01/10/2021,1257.45,1131.71
1,Maress39,Mrs \t isabella Fowler,f,04/08/1960,Arquiteto de Dados,24/03/2020,771.99,694.79
2,Kehonell,Mrs Chloe \tKirby,f,28/06/1949,Analista de RH,07/06/2020,1021.77,919.59
3,Thimpay,Mrs louise \tClark,f,07/01/1995,Arquiteto de Dados,03/11/2020,234.76,211.28
4,Giall1985,Mr Harrison \t Bowen,f,04/04/1987,Engenheiro de Dados,25/03/2020,628.07,565.26
5,Neave1959,Mrs anna \t Sharp,f,02/02/1970,Engenheiro de Dados,18/09/2020,140.04,126.04
6,Nicterims1993,Mrs \tDaisy Anderson,m,05/07/1985,Engenheiro de Dados,29/01/2021,2417.81,2176.03
7,Fouldlairity,Ms zoe \tPeacock,m,03/06/1964,Analista Financeiro,04/12/2020,51.95,46.76
8,Ancomettiody,Mrs Libby \tWilliams,f,04/09/1974,Estatístico,21/11/2020,130.73,117.66
9,Onswis,Ms Katie \tMmtcalfe,f,01/07/1983,Engenheiro de Machine Learning,27/02/2021,1778.72,1600.85